ol{
    list-style: none;
    counter-reset: contador;
}

ol li {
    counter-increment: contador;
}
ol li::before {
    content: 'CURSO ' counter(contador)') ';
    color: yellowgreen;
}
ol li::after {
    content: '.';

}
